.app__aboutus {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.app__aboutus-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 100%;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/backgroundpic.jpg");
  z-index: 3;
  color: white;
  padding: 3rem 0;
}

.app__aboutus-header h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.app__aboutus-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background-color: rgb(238, 235, 221);
  padding: 3rem 0;
}

.app__aboutus-content_p,
.app__aboutus-content_img {
  width: 50%;
  margin: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__aboutus-content_p {
  flex-direction: column;
}

.app__aboutus-content_p p {
  font-size: 18px;
  color: black;
}

.app__aboutus-content_img img {
  width: 95%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0 rgba(63, 55, 7, 0.5);
}

.about-dash {
  width: 3px;
  height: 300px;
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .app__aboutus-content {
    flex-direction: column;
    padding: 3rem 0;
    overflow-y: auto;
  }
  .app__aboutus-content_p,
  .app__aboutus-content_img {
    width: 80%;
  }
  .app__aboutus-content_img img {
    max-width: 70%;
    margin: 2rem;
    height: fit-content;
  }
  .about-dash {
    display: none;
  }
}
