 
.full-page{
    display: flex;
    flex-direction: column;
    color:white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/Home-background.jpg");
}
.Wrapper{
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: column;
    height: 100%;
    
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.Logo{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0 0;
}
.Logo-p{
    display: flex;
    font-size: xx-large;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 100;
    justify-content: center;
    padding-top: 0;
    /* margin-top: -15px; */
    margin-bottom: 5px;
}
.button-space{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 100%;
    padding: 0 30rem;
    margin-top: 1rem;
    z-index: 1;
}

.left-button{
    display: flex; 
    justify-content: flex-start;
}

.right-button{
    display: flex; 
    justify-content: flex-end;
}
.right-button button, .left-button button{
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    border-radius: 12px;
    font-family: Times, Times New Roman, serif;
    cursor: pointer;
    background-color: rgba(232, 225, 173, 1);
    border: none;
}

.hdash{
    width: 1px;
    height: 3rem;
    background-color: rgba(232, 225, 173, 1);
    z-index: 11;
}
