 .full-page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color:black;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/Home-background.jpg");
}
.Wrapper{
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.Logo{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0 0;
}
.Logo h1{
    color: white;
}
.Logo-p{
    display: flex;
    font-size: xx-large;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 100;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 0.04rem;
}
.button-space{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    margin-top: 1rem;
    z-index: 1;
}

.left-button{
    display: flex; 
    justify-content: flex-start;
}
.left-button button{
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    border-radius: 12px;
    /* font-family: Times, Times New Roman, serif; */
    cursor: pointer;
    background-color: rgba(232, 225, 173, 1);
    border: none;
    transition: 0.2s ease;
}
.left-button button:hover{
    outline: 4px solid rgb(208, 187, 150);
}

.hdash{
    width: 2px;
    height: 3rem;
    background-color: rgba(232, 225, 173, 1);
    z-index: 11;
}