.app__navbar {
  width: 100%;
  height: fit-content;
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgba(232, 225, 173, 1);
  padding: 1rem 2rem;
  top: 0%;
  z-index: 10;
}
/*NO logo at the moemnt*/
.app__navbar-logo {
  font-size: 45px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  /* font-size: 20px; */
}

.app__navbar-links li:hover {
  color: #808080;
}

.app__navbar-access {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.app__navbar-access li {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 20px;
}

/*distance betweeen login register and cart*/
.app__navbar-access a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
  /* font-size: 20px; */
}

.app__navbar-access a :hover {
  border-bottom: 3px solid black;
}

.app__navbar-access div {
  width: 2px;
  height: 36px;
  margin-right: 1rem;
  background-color: black;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5; /*This will overlay entire page*/
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: white;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;

  /*This block of code design the page layout 
    when click on the 3 line*/
}

.app__navbar-smallscreen-links {
  list-style: none;
  /*Remove all list style for list*/
}

.app__navbar-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
  /*Adjust distance between words
    set color to golden
    center word in 
    3 line icon*/
}

/*3 dash appear here*/
@media screen and (max-width: 900px) {
  .app__navbar-logo {
    font-size: 35px;
  }
  .app__navbar-links li {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 800px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-access {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
}

.app__navbar .nav-item {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 20px;
}
